.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.grid {
    width: 650px;
    height: 650px;
    display: grid;
    border: 1px solid black;
    user-select: none;
}

.gridSize {
    display: flex;
    padding-top: 20px;
}

.slider {
    display: flex;
    width: 450px;
}
.buttons {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   width: 650px;
   padding-bottom: 20px;
}

.btn1 {
    color: black;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
 }

.btn1 input {
    margin-left: 5px;
}

.btn2 {
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 8px;
    background:linear-gradient(
        124deg, 
        #ff2400, 
        #e81d1d, 
        #e8b71d, 
        #e3e81d,
        #1de840, 
        #1ddde8, 
        #2b1de8, 
        #dd00f3, 
        #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.btn3 {
    background: whitesmoke;
    color: black;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 16px;
}
 .btn3:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
 }

.btn4 {
    background: rgb(250, 208, 72);
    color: black;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 16px;
}

.btn4:hover {
    cursor: pointer;
    background: rgb(241, 203, 76);
 }